{%extends "base.html"%}
{% comment %}
args = {
        'artistName': artistName, -> string
        'numFollowers': numFollowers, -> int
        'genreList': genreList, -> [string]
        'profilePic': profilePic, -> string url
        'popularity': popularity -> int
    } 
{% endcomment %}
{%load static%}
{%load humanize%}

{%block page_title%}Artist mane{%endblock%}
{% block page_style %}<link rel="stylesheet" href="{% static "search/artist.css" %}">{% endblock %}


{%block page_content%}
    <div class="content">
        <div class="title">
            <h1 id="artist-name">{{ artistName }}</h1>

            {% comment %} Render the genres if they exist {% endcomment %}
            {%if genreList%}
                {%for genre in genreList%}
                    <h4>{{ genre }}</h4>
                {%endfor%}
            {%endif%}

        </div>
        <div class="intro">

            <div id="artist-image">
                {% if profilePic %}
                    <img class="profile" src={{ profilePic }}>
                {% endif %}
                <h3>Followers: {{numFollowers | intcomma}}</h3>
                <h3>Popularity: {{popularity}} </h3>
            </div>


        </div>

    {% if tracks %}
        <h2>Popular Tracks</h2>
        <div class="top tracks">

         {% for track in tracks %}
             <div class="album">
                <img src={{ track.2 }}>
                <p>{{ track.0 }}</p>
             </div>
         {% endfor %}
        </div>
    {% endif %}

        {% if albums %}
        <h2>Popular Albums</h2>
        <div class="top albums">
            {% for album in albums %}
                <div class ="album">
                    <img src={{ album.1 }}>
                    <p>{{ album.0 }}</p>
                </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>
{%endblock%}