*{
    margin:0;
    padding:0;
  }

body > *{
  margin-left:100px;
  margin-right: 100px;
}

.results{
  display:grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.results > a{
  display:flex;
  /* outline: auto; */
}

.card{
  transition: all ease 0.3s;
  
}

.card:hover{
  transform: scale(1.1);
}

.artist-button{
  text-decoration: none;
}

p{
  font-weight: 100;
  font-size: 14pt;
}

.result-count{
  color: white;
}

.result{
  display:flex;
  background-color: #222529;
  transition: all ease 0.3s;
  color: white;
  border-radius: 10px 100px / 120px;
  overflow: hidden;
  width: 600px;
}

.result:hover{
  transform: scale(1.1);
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed
}

.photo{
  max-width: 180px;
  height:auto;
}

.cardText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
